.failure {
  position: absolute;
  top: 0;
  background-color: rgb(230, 184, 184);
  color: rgb(247, 87, 87);
  outline: 1px solid rgb(216, 97, 97);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 5rem;
  width: 1080px;
  transform-origin: top;
  transform: scale(100%);
  opacity: 1;
  transition: 0.2s ease-in-out;
}
.closed {
  position: absolute;
  top: 0;
  background-color: rgb(230, 184, 184);
  color: rgb(247, 87, 87);
  outline: 1px solid rgb(216, 97, 97);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 5rem;
  width: 1080px;
  transform-origin: top;
  transform: scale(0);
  opacity: 0;
  transition: 0.2s ease-in-out;
}
